---
import { Image } from "astro:assets";

import ena from "../../assets/img/ena-logo.webp";
import star from "../../assets/img/star-logo.webp";
import htn from "../../assets/img/htn-logo.webp";
import universal from "../../assets/img/universal-logo.webp";
import esn from "../../assets/img/esn.webp";
import ensure from "../../assets/img/ensure.webp";
import xbody from "../../assets/img/xbody.webp";
import plus from "../../assets/img/102-plus.webp";
---

<section class="col-12 w-100 mt-4 mb-4">
    <article class="article-brands">
        <figure class="logo-brands">
            <Image src={ena} alt="logo ena"/>
        </figure>
        <figure class="logo-brands">
            <Image class="mt-2" src={star} alt="logo star"/>
        </figure>
        <figure class="logo-brands">
            <Image src={htn} alt=" logo htn"/>
        </figure>
        <figure class="logo-brands">
            <Image src={universal} alt="logo universal"/>
        </figure>
        <figure class="logo-brands">
            <Image src={esn} alt="logo ena"/>
        </figure>
        <figure class="logo-brands">
            <Image class="mt-2" src={xbody} alt="logo star"/>
        </figure>
        <figure class="logo-brands">
            <Image src={ensure} alt=" logo htn"/>
        </figure>
        <figure class="logo-brands">
            <Image src={plus} alt="logo universal"/>
        </figure>
    </article>
</section>